{
  "presets": [["es2015",{ "modules":false }], "react", "stage-0"],
  "env": {
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "lodash"
      ]
    },
    "production": {
      "plugins":[]
    }
  }
}
