/*
**	function
**	20161011 __yiru
*/

.y-canvas{
	.c-toolbar{
		button{
			margin:10px 5px;
		}
	}
	.c-area{
		position:relative;
		height:400px;
		canvas{
			// border:1px solid #333;
			position:absolute;
			left:0;
			top:0;
			z-index:0;
			&#canvas{
				z-index:1;
			}
		}
	}
}

.y-autocomplete{
	height:400px;
	>h2{
		margin-bottom:15px;
	}
	>.input-area{
		position:relative;
		width:250px;
		>input{
			// width:300px;
		}
		>ul{
			position:absolute;
			width:100%;
			margin-top:1px;
			height:250px;
			overflow:auto;
			border-radius:5px;
			border:1px solid #ccc;
			>li{
				height:30px;
				line-height:30px;
				padding:0 10px;
				cursor:pointer;
				&:hover{
					// background-color:#ccc;
				}
				&.selected{
					background-color:#ccc;
				}
			}
		}
	}
}























